.cabeza, .pie {
	display: block;
	min-height: 10%;
	text-align: center;
	background: none repeat scroll 0% 0% #FF0080;
}

body, html {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Ubuntu', serif;
}

p, a{
	font-family: 'Ubuntu', serif;
}

.container {
	height: 80%;
	display: flex;
	flex-flow: row nowrap;
}

.inner {
	flex: 3 1 80%;
	order: 2;
	background: none repeat scroll 0% 0% #00FF40;
	padding: 12px;
}

.navigation {
	flex: 1 6 20%;
	order: 1;
	background: none repeat scroll 0% 0% #CCF;
}

.nav {
	list-style: none;
}

.lado {
	flex: 1 6 20%;
	order: 3;
	background: none repeat scroll 0% 0% #CCF;
}

.pie {
	display: block;
min-height: 10%;
background: none repeat scroll 0% 0% #FC6;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-left-color: #CCC;
}
a {
	color: #000;
	text-decoration: none;
	font-size: 0.9em;
	display: block;
	padding: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	background-color: #EAEAEA;
}
a:hover {
	color: #FFF;
	background-color: #666;
	border-right-width: 5px;
	border-right-style: solid;
	border-right-color: rgb(155,155,255);
}

.evt {
	float: right;
	margin-right: 50%;
	margin-top: -15%;
}